@import "tailwindcss";

@theme {
  --color-bg: #f5f4f0;
  --color-fg: #111110;
  --color-muted: #888882;
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-ibm-plex-mono);
}

html {
  scroll-behavior: smooth;
}
